fastapi==0.109.2
uvicorn==0.27.1
reportlab==4.0.9
httpx==0.26.0
python-multipart==0.0.9
pydantic==2.6.1
google-cloud-logging==3.9.0
google-cloud-storage==2.14.0
google-cloud-pubsub==2.19.4
google-cloud-firestore==2.14.0
google-api-python-client==2.118.0
google-cloud-aiplatform==1.42.1
tcia_utils==3.2.1
pandas==2.2.0
requests==2.31.0
google-cloud-bigquery==3.17.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
